.filter-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 21px 102px 55px;
  position: relative;
  z-index: 2;
}

.filters {
  display: flex;
  gap: 66px;
  justify-content: space-between;
}

.menu {
  width: 195px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu.opened {
  max-height: 315px;
  transition: max-height 0.5s linear;
}

.menu.closed {
  max-height: 53px;
  transition: max-height 0.5s linear;
  overflow: hidden;
}

.menu__header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px;
}

div.menu__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding: 16px;
}

.menu__title button {
  width: 20px;
  height: 20px;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  user-select: none;
}

.fa-chevron-down {
  color: #1b1b1b;
  font-size: 14px;
}

.menu__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu__content.closed {
  max-height: 0;
  transition: max-height 0.5s linear;
}

.menu__content.opened {
  max-height: 289px;
  transition: max-height 0.5s linear;
}

.filter.search-bar {
  min-height: 36px;
  width: 163px;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.filter.search-bar input {
  width: 100%;
  border: 0;
  color: #7a7a7a;
  font-size: 14px;
}

.filter.search-bar input:focus {
  outline: none;
}

.filter.search-bar button {
  width: 20px;
  height: 20px;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  user-select: none;
}

.filter.search-bar button span {
  color: #7a7a7a;
}

.fa-xmark {
  margin-right: 10px;
}

/* .menu__items.closed {
  max-height: 0;
  transition: max-height 0.5s linear;
} */

.menu__items {
  width: 100%;
  max-height: 200px;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: max-height 0.5s linear;
}

.menu__item {
  height: 42px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  border: none;
  color: #1b1b1b;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  margin: 0;
  padding: 16px;
  text-align: left;
  user-select: none;
}

.menu__item:hover {
  background-color: #ffd15b;
  border-radius: 15px;
}

.menu__item button {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-align: left;
  text-transform: capitalize;
}

.menu__item:last-child:hover {
  border-radius: 0 0 15px 15px;
}

.total {
  color: #1b1b1b;
  font-family: Anton;
  font-size: 21px;
}

/* Filter bar and total recipes */
.filter-total {
  display: flex;
  justify-content: space-between;
  padding: 21px 103px;
}

.filter-bar {
  display: flex;
  gap: 64px;
}

@media (min-width: 768px) {
  .filter-total {
    flex-direction: column;
    padding: 21px 25px 55px;
  }

  .total {
    align-self: center;
    margin: 25px;
    order: 1;
  }

  .filters {
    order: 2;
  }
}

@media (min-width: 1024px) {
  .filter-total {
    padding: 21px 55px 55px;
  }
}

@media (min-width: 1232px) {
  .filter-total {
    flex-direction: row;
    padding: 21px 55px 55px;
  }

  .total {
    align-self: flex-start;
    margin: 0;
    order: 2;
  }

  .filters {
    order: 1;
  }
}

@media (min-width: 1440px) {
  .filter-total {
    padding: 21px 105px 55px;
  }
}
