header {
  position: relative;
}

header img {
  width: 1440px;
  height: 960px;
  object-fit: cover;
}

header h2 {
  width: 890px;
  height: 132px;
  color: #ffd15b;
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-weight: 400;
  top: 245px;
  left: 275px;
  right: 275px;
  position: absolute;
}

.search-bar {
  width: 954px;
  height: 72px;
  top: 406.42px;
  left: 243px;
  position: absolute;
  border-radius: 11px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 35px;
}

.search-bar input {
  flex: 1;
  border: none;
}

.search-bar button {
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background-color: #1b1b1b;
  cursor: pointer;
}

.search-bar button span {
  color: #fff;
}

.search-bar input:focus {
  outline: none;
}
