header {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header img {
  /* width: 1440px;
  height: 960px; */
  width: 100%;
  height: clamp(300px, 650px, 860px);
  /* height: 480px; */
  object-fit: cover;
}

header h2 {
  /* min-width: 890px; */
  height: 132px;
  color: #ffd15b;
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-weight: 400;
  top: 25%;
  position: absolute;
  width: clamp(500px, 890px, 1440px);
}

.header.search-bar {
  height: 72px;
  top: 50%;
  position: absolute;
  border-radius: 11px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 35px;
  width: clamp(438px, 696px, 954px);
}

.header.search-bar input {
  flex: 1;
  border: none;
}

.header.search-bar button {
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background-color: #1b1b1b;
  cursor: pointer;
}

.header.search-bar button span {
  color: #fff;
}

.header.search-bar input:focus {
  outline: none;
}

.recipe-image {
  height: 253px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

.recipes-container {
  padding: 0px 102px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, clamp(250px, 380px, 400px)); */
  grid-column-gap: 30px;
  grid-row-gap: 66px;
  justify-content: space-between;
}

.recipe-card {
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.recipe-time {
  align-items: center;
  background-color: #ffd15b;
  border-radius: 14px;
  color: #1b1b1b;
  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  gap: 10px;
  justify-content: center;
  padding: 5px 15px;
  position: absolute;
  right: 21px;
  text-align: center;
  top: 21px;
}

.recipe-description {
  color: #1b1b1b;
  font-size: 14px;
  overflow: hidden;
  height: 84px;
}

.plate-name {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  height: 35px;
}

.plate-name,
.recipe-container,
.ingredients-container {
  margin: 0 25px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h5 {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 42px;
}

li.ingredient {
  height: 63px;
}

.ingredient-name {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.ingredient-quantity {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}

ul.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 63px);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

/* Filter bar and total recipes */
.filter-total {
  padding: 21px 103px;
  display: flex;
  justify-content: space-between;
}

.filter-bar {
  display: flex;
  gap: 64px;
}

/* Media queries */
@media (min-width: 1024px) {
  .recipes-container {
    grid-template-columns: repeat(2, 380px);
    padding: 0px 55px;
  }
}

@media (min-width: 1232px) {
  .recipes-container {
    grid-template-columns: repeat(3, 340px);
    padding: 0px 55px;
    column-gap: 48px;
  }
}

@media (min-width: 1440px) {
  .recipes-container {
    grid-template-columns: repeat(3, 380px);
    column-gap: 40px;
    padding: 0px 102px;
  }
}

/* @media (min-width: 1440px) {
  .recipes-container {
    grid-template-columns: repeat(auto-fit, 380px);
    column-gap: 40px;
    padding: 0px 102px;
  }
} */
