header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

header img {
  width: 100%;
  height: clamp(300px, 650px, 860px);
  object-fit: cover;
}

header h2 {
  width: clamp(500px, 890px, 90%);
  height: 132px;
  color: #ffd15b;
  font-family: Anton;
  font-size: 44px;
  font-weight: 400;
  position: absolute;
  text-align: center;
  top: 37%;
}

.header.search-bar {
  width: clamp(438px, 954px, 90%);
  height: 72px;
  align-items: center;
  background: #fff;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 35px;
  position: absolute;
  top: 62%;
}

.header.search-bar input {
  border: none;
  flex: 1;
}

.header.search-bar button {
  width: 51px;
  height: 52px;
  background-color: #1b1b1b;
  border-radius: 10px;
  cursor: pointer;
}

.header.search-bar button span {
  color: #fff;
}

.header.search-bar input:focus {
  outline: none;
}

.recipe-image {
  height: 253px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

.recipes-container {
  width: 100%;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 66px;
  justify-content: space-between;
  padding-bottom: 55px;
  padding-inline: 102px;
  /*Needed if I don't want the recipes container to not be affected when menus are opened*/
  /* position: absolute; */
}

.recipe-card {
  background: #fff;
  border-radius: 21px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.recipe-time {
  align-items: center;
  background-color: #ffd15b;
  border-radius: 14px;
  color: #1b1b1b;
  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  gap: 10px;
  justify-content: center;
  padding: 5px 15px;
  position: absolute;
  right: 21px;
  text-align: center;
  top: 21px;
}

.recipe-description {
  height: 84px;
  color: #1b1b1b;
  font-size: 14px;
  overflow: hidden;
}

.plate-name {
  height: 35px;
  color: #000;
  font-family: Anton;
  font-size: 18px;
}

.plate-name,
.recipe-container,
.ingredients-container {
  margin: 0 25px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h5 {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 42px;
}

li.ingredient {
  height: 63px;
}

.ingredient-name {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.ingredient-quantity {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}

ul.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-template-rows: repeat(auto-fit, 63px);
  grid-row-gap: 10px;
}

/* Media queries */
@media (min-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(2, 330px);
    padding-inline: 25px;
    top: 855px;
  }
}

@media (min-width: 1024px) {
  .recipes-container {
    grid-template-columns: repeat(2, 380px);
    padding-inline: 55px;
  }
}

@media (min-width: 1232px) {
  .recipes-container {
    grid-template-columns: repeat(3, 340px);
    column-gap: 48px;
    padding-inline: 55px;
    top: 769px;
  }
}

@media (min-width: 1440px) {
  .recipes-container {
    grid-template-columns: repeat(3, 380px);
    column-gap: 40px;
    padding-inline: 102px;
  }
}

.logo {
  width: 207px;
  height: 25px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  left: 69px;
}
